<section class="py-20 px-6 lg:px-12">
  <h1 class="tracking-tight leading-[1.05]
                   text-5xl md:text-6xl lg:text-7xl text-red-600">
    Consulta más información sobre
  </h1>
  <div class="flex flex-col lg:flex-row justify-center items-center space-y-8 lg:space-y-0 lg:space-x-6 mt-10">
    <figure class="relative overflow-hidden rounded-2xl group/figure">
      <a>
        <img
          src="/assets/img/landing/crvUcv1952.png"
          alt="UCV 1952"
          class="object-cover h-165 w-145 rounded-[inherit]"
          href="/vida"
        />

      </a>
      <div
        class="absolute inset-0 flex items-end p-6 rounded-[inherit]
              bg-gradient-to-t from-black/40 to-transparent
              opacity-100
              md:opacity-0 md:transition-opacity md:duration-500
              md:group-hover/figure:opacity-100"
      >
        <h3
          class="text-8xl font-black text-red-600 
                translate-y-0
                md:translate-y-4 md:transition-transform md:duration-500
                md:group-hover/figure:translate-y-0"
        >
          vida
        </h3>
      </div>
    </figure>
    <figure class="rounded-2xl relative overflow-hidden group/figure">
      <img
        src="/assets/img/landing/obrax.jpg"
        alt="estadio olimpico"
        class="object-fit h-165 w-145 rounded-[inherit]"
        href="/obras"
      />
      <div
        class="absolute inset-0 flex items-end p-6 rounded-[inherit]
              bg-gradient-to-t from-black/40 to-transparent
              opacity-100
              md:opacity-0 md:transition-opacity md:duration-500
              md:group-hover/figure:opacity-100"
      >
        <h3
          class="text-8xl font-black text-red-600 
                translate-y-0
                md:translate-y-4 md:transition-transform md:duration-500
                md:group-hover/figure:translate-y-0"
        >
          obra
        </h3>
      </div>
    </figure>
    <figure class="rounded-2xl relative overflow-hidden group/figure">
      <img
        src="/assets/img/landing/Escritos.png"
        alt="carta"
        class="object-fit h-165 w-145 rounded-[inherit]"
      />
      <div
        class="absolute inset-0 flex items-end p-6 rounded-[inherit]
              bg-gradient-to-t from-black/40 to-transparent
              opacity-100
              md:opacity-0 md:transition-opacity md:duration-500
              md:group-hover/figure:opacity-100"
      >
        <h3
          class="text-8xl font-black text-red-600 
                translate-y-0
                md:translate-y-4 md:transition-transform md:duration-500
                md:group-hover/figure:translate-y-0"
        >
          escritos
        </h3>
      </div>
    </figure>
  </div>
</section>