<section class="w-full bg-gray-10">
  <div class="max-w-6xl mx-auto px-4 lg:px-8 py-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12">

      <!-- Bloque 1 -->
      <article
        class="relative rounded-2xl bg-white p-6 sm:p-8 shadow-sm ring-1 ring-black/5
               leading-relaxed text-[17px] text-slate-700">
        <span class="pointer-events-none absolute left-0 top-0 h-full w-1.5 rounded-l-2xl bg-red-600"></span>
        <p>
            Casado desde el año 1933 con la caraqueña Margot Arismendi Amengual, madre de sus cuatro hijos, junto con su familia la arquitectura será  la razón de ser de la vida de Carlos Raúl Villanueva, a ella dedicará  cuarenta años de trabajo fecundo, legando una obra de singular importancia enmarcada en los idearios y postulados del Movimiento Moderno, fundada en la solidez del oficio adquirido en la academia y a la vez fuertemente enraizada en los valores del medio venezolano. De la arquitectura Villanueva poseía la visión más notable, entendiéndola como el hecho social por excelencia, por lo que restringe su labor profesional al servicio del Estado, centrando su trabajo en los temas de la vivienda pública, la educación, la ciudad y el binomio arte-arquitectura.

        </p>
      </article>

      <!-- Bloque 2 -->
      <article
        class="relative rounded-2xl bg-white p-6 sm:p-8 shadow-sm ring-1 ring-black/5
               leading-relaxed text-[17px] text-slate-700">
        <span class="pointer-events-none absolute left-0 top-0 h-full w-1.5 rounded-l-2xl bg-blue-600"></span>
        <p>
          Sus inicios como arquitecto fueron a las órdenes del Ministerio de Obras Públicas durante la dictadura de Juan Vicente Gómez, realizando sus primeros trabajos en la ciudad de Maracay: el Hotel Jardín, el Club de Deportes, la Plaza Bolívar, la Maestranza. También dentro del MOP realiza una serie de otros trabajos hasta su salida de este organismo en 1993: El Manicomio de Lídice, el Sanatorio Antituberculoso de Mérida, el Internado de Pre Orientación de Los Teques, las plazas de la Concordia y Carabobo en Caracas, destacando los edificios para los Museos de Bellas Artes y Ciencias Naturales, que marcan el inicio de su obra más reconocida en la ciudad de Caracas. Villanueva realizó simultáneamente con el arquitecto Luis Malaussena, el proyecto para el Pabellón de Venezuela en la Exposición de París de 1937. En 1944 realiza el proyecto para la Leprosería Nacional, actual Ciudad Vacacional Los Caracas.
        </p>
      </article>

    </div>
  </div>
</section>
